*{
    margin: 0;
}
/* header styles */

.bg-img-banner{
    background-image: url('banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
}
.bg-banner{
    text-align: right;
    padding:200px 230px ;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 24px;
    color: #FFFFFF;
}
.banner-sub-title{
    font-size: 16px;
    margin-bottom: 32px;
    color: #FFFFFF;
}
.btn-primary{
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: rgb(246, 244, 244);
    color: #005FAC;
}
/* main info My failures of previous year */

.main-info{
    display: flex;
    margin: 130px 200px;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
}
.sub-title{
    font-size:16px;
}
/* li color style */

.discription{
    list-style: none;
    margin-bottom: 8px;
    margin-top: 16px;
    color: #444343;
}
li::before{
    content: "\2714";
    color: rgb(20, 237, 20);
    margin: 7px;
}
/* main-content-info */

.main-content-info{
    margin: 130px 220px;
}
#my-plan{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 130px 0px 50px 0px;
    
}
.icon-flex{
    display: flex;
    justify-content: space-between;
}
.icons{
    text-align: center
}
.resume{
    font-weight: 700;
    font-size: 30px;
    margin: 16px;
    color: #151414;
}
.icon-text{
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}
/* img,background-img */

.container {
    position: relative;
    text-align: center,left;
    color: white;
    margin: 130px 230px;
    background-image: url('watch.png');
    background-repeat: no-repeat;
  }
  .center-left-text{
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    top: 20%;
    left: 10%;  
  }
  .awlays{
    margin-bottom: 25px;
  }
  /* footer styles */

  .footer{
    padding: 130px 230px;
    gap: 330px;
  }
  .footer-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
  }
  .footer-conten{
    margin: 16px 0 24px 0;
    color: #FFFFFF;
  }
  #inof{
    margin: 16px 0 24px 0;
  }
  .subscribe{
    font-weight: 600;
    font-size: 25px;
  }
  .email{
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 20px ;
    border-radius: 8px;
    line-height: 21px;
    border: 1px solid #FFFFFF;
    background: #151414;
  }
  .balck{
    background-color: #151414;
    color: #FFFFFF;
  }
  #btn{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    background-color: #005FAC;
    color: #FFFFFF;
  }

  